/*=========================
 Magix -Button 
 ==========================*/
:root {
  --dark-blue: #1c0c33;
  --light-blue: #F8F3FE;
  --hot-pink: #fa243c;
  --fade-pink: #FB4D61;
  --dark-pink: #DC001A;
  --testing:#333333;
}

html{
    font-size: 100%;
}

/* mxbtn CSS */
/* mxbtn CSS */
.mxbtn {
  
  padding: 0.5rem 1.5rem;
  border: 0.0625rem solid #fa243c;
  border-radius: 0.3125rem;
  background-color:#fa243c;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0.3125rem 0 0 #DC001A;
}

.mxbtn:focus {
  outline: none;
}

.mxbtn:hover,
.mxbtn:active {
  background: #FB4D61;

}

.mxbtn--circle{
    border-radius: 50%;
    padding-top: 0.9375rem;
    padding-bottom: 0.8375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 3.5rem;
    width: 3.5rem;
    box-shadow: 0 0.125rem 0 0 rgb(190, 183, 184);
    
}

.mxbtn--round{ 
    border-radius: 20%;
    
 
}

.mxbtn--inverse {
  background: transparent;
  color: #ff0055;
}

.mxbtn--inverse:hover,
.mxbtn--inverse:active {
  color: white;
  background: #ff0055;
}

.mxbtn:active{
  transform: translateY(5px);
  box-shadow: none;
}

.mxbtn--danger {
  background: #830000;
  border-color: #830000;
}

.mxbtn--danger:hover,
.mxbtn--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.mxbtn:disabled,
.mxbtn:hover:disabled,
.mxbtn:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
  box-shadow: 0 0.3125rem 0 0 rgb(122, 120, 120);
}

.mxbtn--circle:disabled,
.mxbtn--circle:hover:disabled,
.mxbtn--circle:active:disabled{
  border-color: rgb(126, 120, 120);
  box-shadow: 0 0.125rem 0 0 rgb(190, 183, 184);
  
}


.wrapper a.flat-btn {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Courgette';
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  background-color: var(--hot-pink);
  padding: 15px 50px;
  border-radius: 5px;
  box-shadow: 0 5px 0 0 var(--dark-pink);
}


a.flat-btn:hover {
  background-color: var(--fade-pink);
}

a.flat-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

/* Media Queries */

@media (min-width: 1281px) {
  html{
      font-size: 15px;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  html{
      font-size: 14px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  html{
      font-size: 13px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  html{
      font-size: 12px;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  html{
      font-size: 11px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  html{
      font-size: 10px;
  }
}